name: Create Cluster
run-name: Creating Cluster
on: [push]
jobs:
  SpinUpCluster:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: ./.github/actions/setup-helm

      - name: Set up Kind
        uses: ./.github/actions/kind

      # - name: Decrypt secrets
      #   uses: ./.github/actions/sops

      # configure aws credentials
      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v3
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: ${{ secrets.AWS_REGION }}
