name: Create Cluster
run-name: Creating Cluster
on: [push]

env:
  resource_app: app/aws-eu1
  provider_secret: secret/aws-secret
  infrastructure_namespace: infrastructure

jobs:
  SpinUpCluster:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: ./.github/actions/setup-helm

      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@latest

      - name: Spin-up resources
        shell: bash
        run: |
          cat << EOF > ./foundation/tls.pem
          ${{ secrets.SEALED_SECRETS_PKEY }}
          EOF
          helm dependencies build ./foundation
          helm upgrade --install platform-foundation ./foundation --wait

      - name: Export AWS credentials
        id: export_aws_secrets
        shell: bash
        run: |
          kubectl wait --timeout 60s --for=create ${provider_secret} -n ${infrastructure_namespace}
          kubectl get ${provider_secret} -n ${infrastructure_namespace} --template={{.data.creds}} | base64 -d | tail -n2 | tr -d ' ' >> aws.txt
          set -a
          . ./aws.txt
          set +a
          echo "::add-mask::$aws_access_key_id"
          echo "::add-mask::$aws_secret_access_key"
          cat aws.txt >> "$GITHUB_OUTPUT"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ steps.export_aws_secrets.outputs.aws_access_key_id }}
          aws-secret-access-key: ${{ steps.export_aws_secrets.outputs.aws_secret_access_key }}
          aws-region: us-east-2
      
      - name: List AWS resources
        shell: bash
        run: |
          kubectl wait --for=condition=Ready buckets --all --timeout 60s
          aws s3 ls | grep crossplane

      - name: Destroy resources
        shell: bash
        run: |
          kubectl delete ${resource_app}
          kubectl wait --timeout 60s --for=delete ${resource_app}
