name: Create Cluster
run-name: Creating Cluster
on: [push]
jobs:
  SpinUpCluster:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
      
      - name: Set up Helm
        uses: azure/setup-helm@v4
      
      - name: Install kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Create kind cluster
        run: |
          kind create cluster --wait 60s
      
      - name: Get Cluster status
        run: |
          # wait network is ready
          kubectl wait --for=condition=ready pods --namespace=kube-system -l k8s-app=kube-dns
          kubectl get nodes -o wide
          kubectl get pods -A
      
      - name: Install Crossplane
        run: |
          helm upgrade --install crossplane-stable/crossplane crossplane \
            --namespace crossplane-system \
            --create-namespace \
            --repo https://charts.crossplane.io/stable/ \
            --wait
      
      - name: Check Crossplane status
        run: |
          kubectl get pods -n crossplane-system
          kubectl get crds | grep crossplane.io